<h2 class="page-title">Discover Recipes</h2>
<div class="filters">
  <input type="text" 
         [(ngModel)]="search" 
         placeholder="Search..." 
         (input)="onFilterChange()" />

  <input type="text" 
         [(ngModel)]="cuisine" 
         placeholder="Cuisine" 
         (input)="onFilterChange()" />

  <input type="number" 
         [(ngModel)]="maxTime" 
         placeholder="Max Cooking Time (minutes)" 
         (input)="onFilterChange()" />
</div>

<div class="recipe-list">
  <div *ngFor="let r of recipes" class="recipe-card">
    <div class="card-content" [routerLink]="['/recipe', r.id]">
      <img [src]="r.imageUrl" alt="{{ r.name }}" />
      <div class="recipe-info">
        <h3>{{ r.name }}</h3>
        <p>Cooking Time: {{ r.cookingTime }} mins</p>
        <p>Cuisine: {{ r.cuisine }}</p>
      </div>
    </div>

    <div class="card-actions">
      <button (click)="toggleSaveRecipe(r.id); $event.stopPropagation()" class="save"
      [ngClass]="{ 'saved': savedRecipeIds.has(r.id), 'unsaved': !savedRecipeIds.has(r.id) }">
      {{ savedRecipeIds.has(r.id) ? 'Unsave' : 'Save' }}
        <span *ngIf="savedRecipeIds.has(r.id)">✓</span>

      </button>

      <button (click)="openPopup(r)" class="add-to-plan">Add to Plan</button>
    </div>
  </div>
</div>

<div *ngIf="recipes.length === 0" class="no-results">
  <p>No recipes found. Try adjusting your filters.</p>
</div>


  <!-- Modal -->
<div class="modal" *ngIf="showPopup">
  <div class="modal-content">
    <h3>Add {{ selectedMeal?.name }} to plan</h3>
    
    <label>Date:
      <input type="date" [(ngModel)]="selectedDate" />
    </label>

    <label>Category:
      <select [(ngModel)]="selectedCategory">
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
        <option value="snacks">Snacks</option>
      </select>
    </label>

    <button (click)="submitPlan()">Submit</button>
    <button (click)="closeModal()">Cancel</button>
  </div>
</div>